[data-theme=light],
:root:not([data-theme=dark]) {
  color-scheme: light;
  --background-color: #0869e9;
  --primary: var(--background-color);
  --primary-hover: var(--background-color);
}
@media only screen and (prefers-color-scheme: dark) {
:root:not([data-theme=light]) {
  color-scheme: dark;
  --primary: #0869e9;
  --primary-hover: var(--primary);

}
}
[data-theme=dark] {
  color-scheme: dark;
  --background-color: #11191f;
  --primary: #0869e9;
  --primary-hover: var(--primary);

}